button{
    margin-right: 10px;
}
button:hover{
    background-color: lightgrey;

}

span{
    font-size:larger;
}

.color-palate-cnt{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    padding: 4px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.color-palate-cnt div{
    width: 30px;
    height: 30px;
    margin: 8px 0px;
    border-radius: 200px;
    cursor: pointer;
}
.col1{

    background-color: #ffffff;
          
    border: 1px solid #e7e7bc;
}
.col2{

    background-color: #f1938b;
    border: 1px solid #ea9088;
}
.col3{

    background-color: #de8c63;
    border: 1px solid #e69065;
}
.col4{

    background-color: #e6db7a;
    border: 1px solid #e2d984;
}
.col5{

    background-color: #bef494;
    border: 1px solid #bbf291;
}
.col6{

    background-color: #5eebc8;
    border: 1px solid #7ae6cb;
}
.col7{

    background-color: #b3e0f9;
    border: 1px solid #a1d1ed;
}
.col8{

    background-color: #98c7e0;
    border: 1px solid #9cd6f5;
}
.col9{

    background-color: #e3b5f5;
    border: 1px solid #e4c1f1;
}
.col10{

    background-color: #eccfc7;
    border: 1px solid #f5cec4
}
.col11{

    background-color: #fdebbf;
    border: 1px solid #ffeec3
}
.col12{

    background-color: #c7c7f3;
    border: 1px solid #c7c7f8;
}
    

       
