.main-div{
    display:grid;
    grid-template-columns: 450px;
    grid-template-rows: 510px;
    place-content: center;   
    height: 570px;
    
}

.mat-card-main {
    align-items: strech;
}

.select-menu {
    border-radius: 16px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    // border: 1px solid transparent
}

.select-menu:hover{
    cursor:pointer;
    background-color: rgb(243, 244, 245);
}

.sign-in-text{
    margin-top: 0px;
    font-size: 24px;
    margin-bottom: 0px;
    position: relative;
    z-index: 2;
}

.google-pic{
    height:70px;
    position: relative;
    top: 14px;
}

.sign-in {
    border-top: 0px;
    text-align: center;
}

.basic-text{
    margin-top: 20px;
   font-size:14px;
    margin-left:30px;
}

.login-button-1 {
    color:#0d6efd;
    margin-right: 150px;
    margin-left: 15px;

}
.login-button-2{
    color: white;
    background-color: #0d6efd;
    padding-left: 25px;
    padding-right:25px;
}



.check {
    margin-top: 10px;
     margin-left: 30px;
     margin-bottom: 30px;

}



.select-option{
  display:flex;
  margin:0px auto;
  margin-top: 10px;
  width :260px;
  border : 1px solid rgba(110,88,88,0.62);
  height :25px;
  padding :4px 0px 0px 6px;
  border-radius :16px;
}

.input-field{
  margin-left: 30px;
}

.input-field mat-form-field{
  width: 350px;
  height: 70px;;

}
