<form [formGroup]="resetpasswordForm" (ngSubmit)="resetpasswordSubmited()">
<div class="main-div">
    <mat-card class="mat-card-main">
       
          <div class="sign-in">
            <img class="google-pic" src="../../assets/unnamed.webp">

            <p class="sign-in-text">Chaithanya varma</p>
            <!-- <select class="select-menu">
              
                <option value="mail"><label ><i class="fa-solid fa-user"></i>varmachaithanya1101@gmail.com</label></option>
                </select> -->
                <div class="select-option">
                <mat-icon>person</mat-icon>{{ this.email }}
                <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
                <!-- <i class="fa-solid fa-user"></i> -->
                
          </div>
          <p class="basic-text">To continue, first verify that it's you</p>
          <div class="input-field">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput id="password"
            formControlName="password">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>confirm password</mat-label>
            <input matInput id="confirmpassword"
            formControlName="confirmpassword">
          </mat-form-field>
          </div>
          <div class="check">
            <mat-checkbox class="example-margin" color="primary">Show password</mat-checkbox>
          </div>
          <div>
            <button mat-button class="login-button-1" color="White">Forgot password?</button>
            <button mat-raised-button class="login-button-2">Next</button>

          </div>
          </mat-card>
</div>